<!DOCTYPE html>
<html lang="pt-br">

<head>
    <script src="https://www.mercadopago.com/v2/security.js" view="home"></script>
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FoxPayments | Checkout</title>
</head>

<body>
    <header>
        <nav class="navigation-bar fixed" id="navigation-bar" data-preload-persist="true">
            <div class="left-entries">
                <a href="https://foxybot.xyz" class="foxy-navbar-logo">
                    <img src="/assets/img/logo.png" 
                         alt="Foxy Logo" class="logo">
                </a>
            </div>
        </nav>
    </header>

    <main>
        <h1 class="title"><%= item.name %></h1>
        <h3 class="price"><%= item.price %> BRL</h3>
        <h3 class="description"><%= item.description %> <%= userId %></h3>

        <h2 class="description">
            Pagamento processado por 
            <img src="/assets/img/integrations/mercadopago.svg" alt="Mercado Pago" class="mercadopago-logo">
        </h2>

        <section class="terms">
            <h4>Ao clicar em "Continuar a compra", você concorda que:</h4>
            <ul>
                <li>O dinheiro utilizado é seu ou você possui autorização para usá-lo.</li>
                <li>Não oferecemos reembolso para produtos vendidos, pois se tratam de produtos digitais.</li>
                <li>Você não está imune a banimentos, nem garantimos a remoção de um banimento.</li>
                <li>Todos os itens adquiridos não possuem valor monetário. Transações realizadas com terceiros não são de nossa responsabilidade, e você pode ser banido caso se envolva com esse tipo de negociação.</li>
                <li>O pagamento pelos nossos serviços não garante atendimento exclusivo.</li>
                <li>Em caso de problemas com o produto, entre em contato com nosso suporte.</li>
            </ul>
        </section>

        <div class="button-container">
            <a href="/cancel?id=<%= item.checkoutId %>">
                <button class="danger">Cancelar compra</button>
            </a>
            <a href="/checkout/mercadopago?checkoutId=<%= item.checkoutId %>">
                <button class="success">Continuar a compra</button>
            </a>
        </div>

        <p class="warning">
            Escolheu o produto errado? Clique em "Cancelar compra" antes de escolher outro produto!
        </p>
    </main>
</body>

</html>
